@*@{
    ViewData["Title"] = "ListOfPersonnels3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ListOfPersonnels3</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                EmailAddress
            </th>
            <th>
                Password
            </th>
            <th>
                Status
            </th>
            <th>
                Salary
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ourPersonnels as List<Personnel>)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
                <td>
                    @item.EmailAddress
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.Salary
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
*@